doctype 5
html
  head
    title Chat
    script(src='http://cdn.sockjs.org/sockjs-0.3.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
        script(src="script.js")
          body
            div.container
              header
                h1 A Chat application with Node.js and Socket.io
                if tcpURI
                  p To join the chat over TCP use your favourite TCP client to connect to #{tcpURI}
                  div#chatEntries
                    div#chatControls
                      input(type='text')#messageInput
                      button#submit Send
