doctype 5
html
  head
    title Chat
    script(src="sockjs-0.3.min.js")
    script(src="jquery-2.1.1.min.js")
    script(src="script.js")
  body
    div.container
      header
        h1 TCP - HTTP Node.js and Socket.io
      if tcpURI
          p To join the App over TCP use your favourite TCP client to connect to #{tcpURI}
      div#chatEntries
      div#chatControls
        //input(type='text')#messageInput
        //button#submit Send
